
body {
	background: #fff;
	color: #424242;
	font-family: "Open Sans";
	font-size: 12pt;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

input,textarea {
     -moz-user-select: text;
}

a:link,a:visited {
	color: #8B8386;
	outline: 0;
	text-decoration: none;
}

a:hover {
	color: #8B6969;
	text-decoration: underline;
}

a:active {
	color: #eee;
}

.colored {
	background: tomato;
}

.centered {
	text-align: center;
}

h1 {
	font-family: "Fauna One";
	font-size: 3.5em;
}

#descrip {
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 1.3em;
}

#myname {
	width: 300px;
	margin-bottom: -25px;
}

#outer-wrapper {
	height: 650px;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
}

#inner-wrapper {

}

#main-bar {
	margin: 30px 0 0 0;
	float: left;
}

#side-bar {
	background: #fff;
	position: relative;
	float: right;
	left: 10%;
	top: 70px;
	width: 200px;
	height: 300px;
}

ul.plain {
	list-style-type: none;
	font-family: "Open Sans";
	font-weight: 700;
}

#side-bar ul {
	list-style-type: none;

}

#side-bar li {
	margin: 0px 0 0px 0;
	line-height: 150%;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 1.2em;
	text-transform: lowercase;
}

.icon {
	width: 23px;
}

#media-buttons {
	margin: 15px 0 0 0;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: #fff;
  color: #999;
  border-top: 1px solid #eee;
  text-align: center;
  font-size: .8em;
  padding-top: 5px;
}
